[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
positions = {ref = "master", git = "ssh://git@github.com/minance/positions.git"}
flask-jwt-extended = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"
